.contacts {
    padding: 7rem 0;
}
.contacts__title {
    margin-bottom: 4rem;
}
.contacts-block {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.contacts-block__top {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contacts-block__top-title {
    font-size: 18px;
    font-weight: 600;
}
.contacts-block__item-link {
    font-weight: 600;
    color: #0837c3;
}
.contacts-map iframe{
    height: 400px;
}