.exhange {
    padding: 7rem 0;
}
.exhange__title {
    margin-bottom: 20px;
}
.exhange__text {
    margin-bottom: 10px;
}
.exhange__text span{
    font-weight: 600;
}
.exhange__subtitle {
    margin: 40px 0 20px 0;
    font-size: 22px;
    font-weight: 600;
}
.exhange__list {
    margin-left: 20px;
}
.exhange__list-item {
    margin-bottom: 10px;
    font-weight: 600;
    list-style: disc;
}