.legal {
    padding: 5rem 0;
}
.legal__title {
    margin-bottom: 20px;
}
.legal__text{
    margin-bottom: 10px;
}
.legal__text span{
    font-weight: 600;
}
.legal__text a{
    font-weight: 600;
    color: #0837c3;
}
