@media(max-width:1100px){
    .catalog-box__item{
        width: calc(100% / 4 - 20px);
        font-size: 14px;
        line-height: 1.2;
        border: none;
    }
    .product-one__inner{
        width: 33%;
    }
}
@media(max-width:900px){
    .header-top__center .header-top__box:first-child{
        display: none;
    }
    .slider-box{
        width: 100%;
    }
    .category,
    .advantages,
    .production,
    .partners,
    .contacts,
    .delivery,
    .exhange,
    .catalog,
    .product{
        padding: 5rem 0;
    }
    .category-block__item,
    .partners-box__item{
        width: calc(100% / 3 - 10px);
    }
    .partners-box__item{
        margin-bottom: 30px;
    }
    .advantages-block{
        flex-wrap: wrap;
        gap: 15px;
    }
    .advantages-block__item{
        width: 48%;
    }
    .production-block,
    .varieties-block,
    .product-one{
        flex-direction: column;
    }
    .production-block__info,
    .production-block__desc,
    .production-block__inner,
    .varieties-block__content,
    .varieties-block__img,
    .product-one__inner,
    .product-one__wrapper{
        width: 100%;
    }
    .footer-block,
    .partners-box,
    .contacts-block{
        flex-wrap: wrap;
    }
    .partners-box{
        justify-content: center;
    }
    .varieties-block__img img{
        margin: 0 auto;
    }
    .product__wrapper{
        width: 100%;
    }
    .product-slide__thumb__wraper img,
    .product-slide__big-item img{
        margin: 0 auto;
    }
}




@media(max-width: 720px){
    .header-top__box,
    .header-top__right{
        display: none;
    }
    .partners-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .catalog-box__item{
        width: calc(100% / 3 - 10px);
    }
}

@media(max-width:650px){
    .header-top{
        margin-bottom: 15px;
    }
    .logo img{
        width: 120px;
    }
    .header-center__search-input,
    .header-center__promotion{
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    
    .header-top__left-delivery {
        margin-left: 4.5rem;
    }
    .header-top__left-payment, .header-top__left-delivery{
        font-size: 16px;
    }
    .header-top__left-payment::before, .header-top__left-delivery::before{
        left: -35px;
    }
    .header-top__right-email{
        font-size: 14px;
    }
    .header-top__right-email::before{
        left: -20px;
    }
    .slider-box__wrapper{
        min-height: 100%;
        padding-bottom: 20px;
    }
    .slider-box__item-title{
        margin-top: 20px;
        padding-left: 20px;
        width: 100%;
        font-size: 24px;
        line-height: 1.2;
    }
    .slider-box__item-text{
        padding-left: 20px;
        font-size: 16px;
        line-height: 1.2;
    }
    .slider-box__item-btn{
        margin-left: 20px;
        height: 40px;
        line-height: 40px;
    }
    .slick-dots{
        margin-top: 5px;
    }
    .slick-dots li button{
        width: 10px;
        height: 10px;
    }
    .category-block__item,
    .team-block__item,
    .partners-box__item,
    .delivery-block__item{
        width: calc(100% / 2 - 10px);
    }
    .sertificate-block__item{
        width: calc(100% / 3 - 10px);
    }
    .partners-block__item{
        margin-bottom: 20px;
        width: calc(100% / 3 - 10px);
    }
    .catalog-box__item{
        width: calc(100% / 2 - 10px);
    }
    .product__wrapper{
        flex-direction: column;
    }
    .error {
        flex-direction: column;
    }

    .error__content-num {
        margin-top: 2rem;
        text-align: center;
    }

    .error__content-text,
    .error__content-link {
        display: block;
        text-align: center;
    }

}



@media(max-width:550px){
    .title{
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.2;
    }
    .slider{
        padding-bottom: 0;
    }
    .category,
    .advantages,
    .production,
    .verification,
    .team,
    .sertificate,
    .partners,
    .contacts,
    .catalog,
    .payment,
    .delivery,
    .legal,
    .exhange,
    .product,
    .vacancies{
        padding: 3rem 0;
    }
    .category-block__item,
    .team-block__item,
    .sertificate-block__item{
        width: 100%;
        margin-bottom: 20px;
    }
    .category__btn,
    .production-block__info-btn,
    .verification__btn,
    .footer-block__item-btn{
        margin: 0;
        width: 100%;
    }
    .advantages-block__item{
        width: 100%;
        margin-bottom: 10px;
    }
    .advantages-block__item-title{
        margin-bottom: 0;
        text-transform: none;
    }
    .advantages-block__item-img{
        width: 50px;
        margin-bottom: 5px;
    }
    .production-block__desc{
        gap: 10px;
    }
    .production-block__desc-title,
    .production-block__desc-img{
        width: 100%;
        height: 220px;
    }
    .production-block__desc-link{
        width: 100%;
        padding: 0;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        background-color: #0837c3;
        border-radius: 5px;
    }
    .production-block__desc-link::after{
        display: none;
    }
    .production-block__desc-title span{
        font-size: 40px;
    }
    .partners-box__item-title{
        text-transform: none;
    }
    .partners-box__item-img{
        width: 50px;
    }
    .partners-block__item-img{
        width: 90px;
    }
    .partners__title{
        text-align: left;
    }
    .partners-box{
        padding: 0 0 3rem 0;
    }
    .partners__title{
        text-align: center;
    }
    .partners-box__item,
    .contacts-block__item,
    .delivery-block__item{
        width: 100%;
    }
    .partners-block__item{
        width: calc(100% / 2 - 5px);
    }
    .contacts-block{
        margin-bottom: 20px;
    }
    .contacts-map iframe{
        height: 350px;
    }
    .catalog-block__item{
        margin-bottom: 40px;
    }
    .catalog-block__item-img{
        height: 80px;
    }
    .payment-box__subtitle{
        font-size: 20px;
    }
    .payment-box__text span{
        font-size: 16px;
    }
    .payment-box__text{
        margin-bottom: 15px;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 14px;
        line-height: 1.4;
    }
    .delivery-block__item{
        margin-bottom: 40px;
    }


    .footer{
        padding: 3rem 0;
    }
    .footer-block__item-title{
        margin-bottom: 10px;
    }
    .footer-block__item{
        width: 100%;
    }
    .footer-block__item-btn{
        margin-bottom: 10px;
    }
    .modal-form{
        padding: 30px 10px 20px 10px;
        max-width: 100%;
        width: 320px;
    }
    .modal-form__input{
        margin-bottom: 10px;
        padding: 5px;
        font-size: 14px;
    }
    .modal__close{
        right: 9px;
        top: 0px;
    }
    .modal-form__textarea{
        padding: 10px;
        font-size: 14px;
    }
    .modal-form__btn,
    .modal-form__textarea{
        margin-bottom: 10px;
    }
    .catalog-box__item{
        width: 50%;
    }
    .catalog-box__item-img{
        width: 150px;
        margin: 0 auto;
        object-fit: cover;
    }
    .catalog-hidden__btn{
        width: 100%;
    }
    .catalog-hidden{
        margin-bottom: 20px;
    }
    .catalog-hidden__box-title{
        font-size: 16px;
    }
    .varieties .title{
        font-size: 20px;
    }
    .varieties-block__content-title,
    .varieties-block__content-subtitle{
        font-size: 18px;
        line-height: 1.2;
    }
    .varieties-block__item-text{
        line-height: 1.4;
    }
    .product-slide__big-item img{
        height: 100%;
    }
    .product-slide__thumb__wraper img{
        width: 80px;
    }
    .product-one__price-new, .product-one__price-old,
    .product-one__box-title,
    .product-block__title,
    .vacancies-block__subtitle{
        font-size: 18px;
    }
    .product-upsell__title,
    .vacancies-block__title{
        font-size: 20px;
    }
    .product-one__item,
    .product-one__price-new{
        margin-bottom: 5px;
    }
    .product-one__price{
        padding: 15px;
    }
    .product-one__sale-text{
        line-height: 1.2;
    }
    .product-one__sale,
    .product-one__top,
    .vacancies-block__title{
        margin-bottom: 10px;
    }
    .vacancies-block{
        margin-bottom: 20px;
    }
    .catalog-box{
        margin-bottom: 20px;
    }
    .filter__title{
        display: inline-block;
    }
    .search__wrapper{
        display: none;
    }
    .search-show{
        display: flex;
    }
    .filter-box__btn,
    .filter-hidden li a{
        font-size: 14px;
    }
    .error {
        padding: 2rem;
    }

    .error__content-num {
        margin-bottom: 4rem;
        font-size: 70px;
    }
}