.vacancies {
    padding: 6rem 0;
}
.vacancies__title {
    margin-bottom: 4rem;
}
.vacancies-block {
    margin-bottom: 50px;
}
.vacancies-block__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}
.vacancies-block__subtitle {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
}
.vacancies-block__list {
    margin-left: 20px;
}
.vacancies-block__list-item {
    margin-bottom: 5px;
    list-style: disc;
}